.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-evenly
}

a {
  color: orange;
}

.active {
  color: green;
}

.submenu {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: auto;
}